header {
    padding: 18px 0;
    nav {
        ul {
            list-style: none;
            a {
                color: black;
                text-decoration: none;
            }
            select {
                border: none;
                font-size: 16px;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}
